.Bookmark_window {
  width: 50vw;
  height: 50vh;
  background-color: #191919;
  color: #ffffff;
  overflow: hidden;
}
#Bookmark_title {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.bookmark_main {
  margin: 10px;
  display: flex;
  align-items: center;
}
.icon {
  margin: 10px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 20px;
  background-color: #c8c8c8;
}
.icon-field {
  background: url("../src/world-wide-web.png");

  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;

  width: 60px;
  height: 60px;
}
.forms {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-group {
  margin-top: 10px;
  display: flex;
}

.form-field {
  height: 20px;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
  width: 35vw;
  background-color: #292b2b;
  color: white;
}
.form-field:focus {
  outline: none;
  border: 2px solid wheat;
}
.bookmark_footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
#bookmark_save {
  width: 100%;
  height: 50px;
  color: wheat;
  background: #191919;
  border: 1px solid wheat;
  border-radius: 0px 0px 12px 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
#bookmark_cancel {
  width: 100%;
  height: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #555555;
  background: white;
  transition: 0.3s background-color;
}
#bookmark_cancel:hover {
  background: #191919;
  color: wheat;
}
#bookmark_save:hover {
  background: wheat;
  color: #191919;
}



.bookmark span {
  color: white;
  word-wrap: break-word;
  font-size: 16px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
  text-align: center;
}

.item {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;

  display: block;
  position: absolute;
}

.bookmark_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  top: 120px;
}

.bookmark_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 15px;
  transition: all 0.5s ease;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.dragging {
  opacity: 0.5;
  transform: scale(1.1);
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.bookmark img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}


.bookmark.dragging {
  opacity: 0.5;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* if min width is 800px then apply this css */
@media screen and (max-width: 800px) {
  .bookmark_layout {
    position: fixed;
    top: 270px;
    width: 65vw;
    left: 100px;
  }
}
