@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* Settings */
/* -------------------------------------------- */
.Settings_window {
  width: 1000px;
  height: 500px;
  padding: 0px;
  background-color: #191919;
  color: wheat;
  overflow: hidden;
}

#settings_title {
  color: #fff;
  font-size: 32px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 10px;
}

.dialogue_button {
  width: 100%;
  height: 100%;
}

#settings_cancel {
  position: absolute;
  margin-right: 30px;
  margin-bottom: 15px;
  bottom: 0px;
  right: 60px;
}

#settings_save {
  position: absolute;
  margin-right: 5px;
  margin-bottom: 15px;
  bottom: 0px;
  right: 10px;
}

.settings_sidebar {
  position: relative;
  width: 190px;
  height: 100%;
  left: 0;
  float: left;
  border-right: 1px solid rgba(255, 253, 253, 0.12);
}

.settings_sidebar ul {
  list-style-type: none;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 8px;
}

.settings_sidebar ul button {
  display: block;
  line-height: 20px;
  width: 90%;
  font-size: 16px;
  text-align: center;
  color: white;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 25px;
}

.settings_sidebar ul button:hover {
  background-color: wheat !important; /* !important: is used to tell use this css even after changing in js*/
  color: black !important;
}

.General {
  float: left;
  width: auto;
  display: block;
}
.settings_label {
  width: 30vw;
  font-size: 18px;
}

.time_settings {
  display: flex;
  width: 100%;
  align-items: center;
  /* Tells number of columns in grid */
}

#hour {
  margin-left: 140px;
  border: 1px solid white;
  color: wheat;
  font-size: 16px;
  text-align: center;
  width: 140px;
  position: absolute;
  right: 40px;
  padding: 2px;
  border-radius: 10px;
  height: 40px;
  background-color: transparent;
}
.hr-value {
  background-color: #191919;
  font-size: 16px;
}

.Search {
  display: none;
  float: left;
  width: auto;
}

/* .new_tab {
  display: grid;
  width: 100%;
  grid-template-columns: 170px 190px 60px;
  grid-column-gap: 0px;
  grid-template-rows: 1fr;
  place-items: center;
  position: absolute;

   Tells number of columns in grid 
} */
.new_tab {
  display: flex;
  width: 90vw;
  place-items: center;
  align-items: center;
  position: absolute;

  /* Tells number of columns in grid */
}

/* Switch button */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.new_tab label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 25px;
  position: relative;
  /* left: 18vw; */
}

.new_tab label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.new_tab input:checked + label {
  background: wheat;
}

.new_tab input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.new_tab label:active:after {
  width: 30px;
}

/* Dialogue Button */
.dialoge_button {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}
#settings_cancel {
  width: 100px;
  margin-right: 90px;

  border-radius: 20px;
  color: black;
  background: white;
  transition: 0.3s background-color;
}
#settings_cancel:hover {
  background-color: transparent;
  border: 1px solid wheat;
  color: wheat;
}
#settings_save {
  width: 100px;
  border-radius: 20px;
  color: white;
  background: green;
  margin-right: 20px;
}
#settings_save:hover {
  background-color: rgb(1, 52, 1);
  border: 1px solid wheat;

  color: white;
}
