@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* Wallpaper Dialoge box */
.Wallpaper_window {
  width: 1240px;
  height: 93vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  top: 20px;
  background-color: #191919;
}
.wallpaper_header {
  width: 87vw;
  height: 80px;
  position: fixed;
  background-color: #191919;
  z-index: 1000;
  border-radius: 20px 0 0 20px;
}

.Close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: #fff;
}

.Close:hover {
  background-color: #ebebeb;
}

.Close:focus {
  outline: none;
}

#Wallpaper_title {
  color: #fff;
  font-size: 32px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 50px;
  width: 90%;
  height: 50px;
  /* background-color: #333333; */
  padding: 10px;
  display: flex;

  justify-content: center;
  z-index: 100;
}
.wallpaper_bottom_bar {
  position: fixed;

  bottom: 50px;
  display: flex;
  flex-wrap: nowrap;

  width: 40vw;
  padding: 10px;

  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.16);

  border-radius: 20px;
}

.wallpaper_bottom_bar button {
  background: none;
  border: none;
  font-size: 26px;
  width: 50%;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.wallpaper_bottom_bar button:hover {
  color: #42a5f5;
}
.wallpaper_main {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
.genre {
  color: wheat;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#Space {
  background-color: wheat;
  color: #000;
}
.genre_item button {
  height: 35px;
  width: 100px;
  font-size: 14px;
  background: transparent;
  color: wheat;
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}
.genre_item button:hover {
  background: wheat;
  color: #000;
}
.genre_item button:active {
  background-color: wheat;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 4vw;
  margin-top: 20px;
}

.grid-item {
  width: 40vw;
  height: auto;
  display: block;

  border-radius: 10px;
}

.Images {
  width: 400px;
  height: 200px;
  padding: 2px;
}
