@media screen and (max-width: 1122px) {

    .wrapper {
   
        top: 200px;
    }
    .grid{
        width: 350px;
    }

    /* #suggestion_list {

        top: 8px;
        left: -150px;
        width: 396px;
    } */

    #quotes {
        display: none;
    }

}
/* Change elements if window size is reduced */
@media screen and (max-width: 1360px) {
    .Widgets {
        width: 100%;
        place-content: center;
    }

    .wrapper {
        width: 100%;
        place-items: center;
    }

    #suggestion_list {
        width: 486px;
        left: 100px;
    }
    .grid{
        width: 550px;
    }
}

@media screen and (max-width: 1229px) {

    /* .wrapper {
        width: 100%;
        place-items: center;
        display: flex;
    } */

    .grid{
        width: 450px;
    }

    #suggestion_list {
        left: 180px;
        width: 426px;
    }

}

/* if min width is 1072px then apply this css */
@media screen and (max-width: 1122px) {

    /* .wrapper {
        position: absolute;
        place-items: center;
        right: 50px;
        top: 200px;
    } */
    .grid{
        width: 350px;
    }

    /* #suggestion_list {

        top: 8px;
        left: -150px;
        width: 396px;
    } */

    #quotes {
        display: none;
    }

}

@media screen and (max-width: 765px) {
    .wrapper {
        place-items: center;
    }

    #suggestion_list {
        top: 8px;
        left: -80px;
        width: 396px;
    }
 

}

@media screen and (max-width: 665px) {
    .Widgets {

        right: 100px;
        
    }

    .wrapper {
        /* width: 100%; */
        /* right: 480px; */
        display: flex;
        justify-items: center;
        padding: 0px;

        /* place-items: center; */
        position: absolute;
        left:  0px;
    }

    #Form{
        width: 60vw;
    }
}